<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taking Forms</title>
</head>
<body>
<!--    <form action="/take" method="POST">-->
<!--        <select name="radiobutton">-->
<!--            <option value="1">1</option>-->
<!--            <option value="2">2</option>-->
<!--        </select>-->
<!--        <button type="submit">Submit</button>-->
<!--    </form>-->

<h1>{{parameter['value_1']}}</h1>
<h1>{{parameter['value_2']}}</h1>
<h1>{{parameter['value_3']}}</h1>

    <form action="/take" method="post">
        <input type="number" name="serial">
        <input type="text" name="village">
        <button type="submit">Submit</button>
    </form>



</body>
</html>