nav{
        background-color: blue;
        height: 50px;
        margin: 0px;
        padding: 1px;
}
li{
    display: inline-block;
            color: white;
            margin-right: 25px;
            font-weight: bold;
            font-size: 20px;
        }
        body{
            margin: 0px;
            padding: 0px;
            background-color: wheat;
        }
        .container{
            display: flex;
            height: auto;
            align-items: center;
            margin: auto;
        }

.container form button{
    width:50px;
    background-color: blueviolet;
}