{% extends "layout.html" %}

{% block body %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Edit Post
      <small>Here you can add new post</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">add post</li>
    </ol>

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Add new post here</h3>
        <form name="sentMessage" id="contactForm" action = "/addpost" method = "POST" novalidate>
          <div class="control-group form-group">
            <div class="controls">
              <label>Title:</label>
              <input type="text" class="form-control" id="title" name='title' required data-validation-required-message="Please enter your name.">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Slug:</label>
              <input type="text" class="form-control" id="slug" name="slug" required data-validation-required-message="Please enter your phone number.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Content:</label>
              <input type="text" class="form-control" id="content" name="content" required data-validation-required-message="Please enter your email address.">
            </div>
          </div>
          
          <div id="success"></div>
          <!-- For success/fail messages -->
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
        </form>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  
  {% endblock %}