{% extends "layout.html" %}

{% block body %}


  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url({{url_for('static', filename = '1.jpeg')}})">
          <div class="carousel-caption d-none d-md-block">
            <h3>AMD Ryzen</h3>
            <p>This is a description for the first slide.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url({{url_for('static', filename = '2.jpeg')}})">
          <div class="carousel-caption d-none d-md-block">
            <h3>Randum Access Memory</h3>
            <p>This is a description for the second slide.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url({{url_for('static', filename = '3.jpeg')}})">
          <div class="carousel-caption d-none d-md-block">
            <h3>Intel Core i9</h3>
            <p>This is a description for the third slide.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">{{params['blog_name']}}</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Computer Build</h4>
          <div class="card-body">
            <p class="card-text">Welcome to my average PC build section. I will tell your how to build a PC.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Premium PC Build</h4>
          <div class="card-body">
            <p class="card-text">Welcome to my Premium PC build Section. I will tell you how to build a Gaming PC </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Laptop Section</h4>
          <div class="card-body">
            <p class="card-text">Welcome to my Laptop section. Here I will tell you how to choose a Best Laptop in your budget.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2>Portfolio Heading</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{url_for('static', filename = '4.jpeg')}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project One</a>
            </h4>
            <p class="card-text">Welcome to my Premium PC build Section. I will tell you how to build a Gaming PC </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{url_for('static', filename = '5.jpeg')}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Two</a>
            </h4>
            <p class="card-text">Welcome to my Premium PC build Section. I will tell you how to build a Gaming PC </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{url_for('static', filename = '6.jpeg')}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Three</a>
            </h4>
            <p class="card-text">Welcome to my Premium PC build Section. I will tell you how to build a Gaming PC </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{url_for('static', filename = '7.jpeg')}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Four</a>
            </h4>
            <p class="card-text">Welcome to my Premium PC build Section. I will tell you how to build a Gaming PC </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{url_for('static', filename = '8.jpeg')}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Five</a>
            </h4>
            <p class="card-text">Welcome to my Premium PC build Section. I will tell you how to build a Gaming PC </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{url_for('static', filename = '9.jpeg')}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Six</a>
            </h4>
            <p class="card-text">Welcome to my Premium PC build Section. I will tell you how to build a Gaming PC </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Modern Style PC Build</h2>
        <p>If you are interested in PC assembling then this is the right place for you.</p>
        <ul>
          <li>
            <strong>CPU assemble</strong>
          </li>
          <li>Processor</li>
          <li>Mother Board</li>
          <li>RAM</li>
          <li>Hard Disk</li>
        </ul>
        <p>Welcome to my Premium PC build Section. I will tell you how to build a Gaming PC </p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="{{url_for('static', filename = '10.jpeg')}}" alt="">
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p><li>If you have any type of problem or confusion then don't hasitate to call us.
           go to our Contact Detail on the top of right of the page.</li></p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="#">Know Hardware Parts</a>
      </div>
    </div>

  </div>
  <!-- /.container -->


  {% endblock %}