<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination Tutorial</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
</head>

<body>
    <h1>
        This is pagination tutorial.
    </h1>
    <div class="container">
        <button class="btn btn-primary">
            <a href="/page/1" style="color: white; font-weight: bold;">Page View</a>
        </button>
    </div>
    <div class="container">
        <div>
            {% if passed_data %}
                {% for files in passed_data %}
                <table>
                    <tr>{{files.serial}}</tr>
                    <tr>{{files.title}} </tr>
                    <tr>{{files.content}} </tr>
                </table>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
       
    </div>
    </div>
   
</body>

</html>