<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination Tutorial</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
</head>

<body>
    <h1>
        <a href="/">Home</a>
    </h1>
    <div class="container">
        <button class="btn btn-success">
            {% if number>1 %}
            <a href="/page/{{number-1}}" style="text-decoration: none; color: white;font-weight: bold;">Previous {{number-1}}</a>
            {% else %}
            <p style="color: white;font-weight: bold; margin: 0;">Previous</p>
            {% endif %}
        </button>
        {% if number %}
        <button class="btn btn-success">
            <a href="/page/{{number+1}}" style="text-decoration: none; color: white; font-weight: bold;">Next {{number+1}}</a>
        </button>
        {% endif %}

    </div>
    <div class="container">
        <div>
            {% if passed_data %}
            {% for files in passed_data.items %}
            <div>{{files.serial}}. {{files.title}} {{files.content}}</div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="row">

        </div>
    </div>

</body>

</html>