<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Login/Create Account</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icons -->
      <link rel="icon" href="{{url_for('static',filename='images/fevicon/fevicon.png')}}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" />
      <!-- site css -->
      <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}" />
      <!-- colors css -->
      <link rel="stylesheet" href="{{url_for('static',filename='css/colors.css')}}" />
      <!-- wow animation css -->
      <link rel="stylesheet" href="{{url_for('static',filename='css/animate.css')}}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body id="default_theme" class="team">
      <!-- header -->
      <header class="header header_style1">
         <div class="container">
            <div class="row">
               <div class="col-md-9 col-lg-10">
                  <div class="logo"><a href="index.html"><img src="{{url_for('static',filename='images/logo.png')}}" alt="#" /></a></div>
                  <div class="main_menu float-right">
                     <div class="menu">
                        <ul class="clearfix">
                           <li><a href="/">Home</a></li>
                           <li><a href="about.html">About</a></li>
                           <li><a href="team.html">Messages</a></li>
                           <li class="active"><a href="/account">Account</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-lg-2">
                  <div class="right_bt"><a class="bt_main" href="/logout">Logout</a> </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header -->
      <!-- section -->
      <section class="contact_section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-6" style="padding:0;">
                  <div class="full">
                     <div class="contact_form white_heading_border">
                        <div class="contact_form_inner">
                           <div class="full_heading white_fonts heading_main heading_style_1">
                              <h2>Login</h2>
                           </div>
                           
                           <div class="form_contact">



                              <!-- form -->
                              <form action="/login" method="POST">
                                 <fieldset>
                                    
                                    <div class="field">
                                       <input type="email" name="email" placeholder="Email" required="">
                                    </div>
                                    <div class="field">
                                       <input type="password" name="password" placeholder="Password" required="">
                                    </div>
                                    
                                    <div class="field">
                                       <button class="field_bt">Login</button>
                                       <!-- <input type="submit" value="Login" class="bt_main"> -->
                                    </div>
                                 </fieldset>
                              </form>
                              <!-- end form -->






                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-6" style="padding:0;">
                  <div class="full">
                     <div class="contact_form white_heading_border">
                        <div class="contact_form_inner">
                           <div class="full_heading white_fonts heading_main heading_style_1">
                              <h2>Create Account</h2>
                           </div>
                           
                           <div class="form_contact">






                              <!-- form -->
                              <form action="/account" method="POST">
                                 <fieldset>
                                    <div class="field">
                                       <input type="text" name="fname" placeholder="First name" required="">
                                    </div>
                                    <div class="field">
                                       <input type="text" name="lname" placeholder="Last name" required="">
                                    </div>
                                    <div class="field">
                                       <input type="number" name="mobile" placeholder="Mobile Number" required="">
                                    </div>
                                    <div class="field">
                                       <input type="email" name="email" placeholder="Email" required="">
                                    </div>
                                    <div class="field">
                                       <input type="password" name="password" placeholder="Password" required="">
                                    </div>
                                    <div class="field">
                                       <button class="field_bt">Create</button>
                                    </div>
                                 </fieldset>
                              </form>
                              <!-- end form -->





                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end section -->
      <!-- footer -->
      <footer class="footer_style_2">
         <div class="footer_top">
            <div class="container">
               <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 margin_bottom_30">
                     <div class="full width_9" style="margin-bottom:25px;"> <a href="index.html"><img class="img-responsive" width="250" src="{{url_for('static',filename='images/logo.png')}}" alt="#"></a> </div>
                     <div class="full width_9">
                        <p>I made this Website to learn how to use flask for complete Web designing.
                           This might help me to better understand the Flask Tutorial.
                        </p>
                     </div>
                     <div class="full width_9">
                        <p>In this Project I will Create a Flask App to controll the backend.</p>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 margin_bottom_30">
                     <div class="full">
                        <div class="footer_blog_2 width_9">
                           <h3>Twitter Feed</h3>
                           <p><i class="fa fa-twitter"></i> Creative_Talent - 26 mins
                              Te invitamos a seguir la cta. de WEntrepreneur_ ¡Atrévete! #Emprendimiento #PyMES #Economía #Bussines #Negocios https://t.co/Y7tZMmxGHn
                           </p>
                           <p><i class="fa fa-twitter"></i> Creative_Talent - 26 mins
                              Te invitamos a seguir la cta. de WEntrepreneur_ ¡Atrévete! #Emprendimiento #PyMES #Economía #Bussines #Negocios https://t.co/Y7tZMmxGHn
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 margin_bottom_30">
                     <div class="full">
                        <div class="footer_blog_2">
                           <h3>Social</h3>
                        </div>
                     </div>
                     <div class="full">
                        <ul class="footer-links">
                           <li><a href="#"><i class="fa fa-facebook"></i> 256 Likes</a></li>
                           <li><a href="#"><i class="fa fa-github"></i> 57+ Projects</a></li>
                           <li><a href="#"><i class="fa fa-twitter"></i> 1,258 Followers</a></li>
                           <li><a href="#"><i class="fa fa-pinterest"></i> 2538+ Pins</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 margin_bottom_30">
                     <div class="full">
                        <div class="footer_blog_2 width_9">
                           <h3>Blog</h3>
                        </div>
                        <div class="blog_post_footer">
                           <div class="blog_post_img"> <img width="80" height="80" src="{{url_for('static',filename='images/scr1.png')}}" alt="#"> </div>
                           <div class="blog_post_cont">
                              <p class="date">November 17, 2020</p>
                              <p class="post_head">Round and round like a carousel</p>
                           </div>
                        </div>
                        <div class="blog_post_footer">
                           <div class="blog_post_img"> <img width="80" height="80" src="{{url_for('static',filename='images/scr2.png')}}" alt="#"> </div>
                           <div class="blog_post_cont">
                              <p class="date">November 17, 2020</p>
                              <p class="post_head">Round and round like a carousel</p>
                           </div>
                        </div>
                        <div class="blog_post_footer">
                           <div class="blog_post_img"> <img width="80" height="80" src="{{url_for('static',filename='images/scr3.png')}}" alt="#"> </div>
                           <div class="blog_post_cont">
                              <p class="date">July 22, 2015</p>
                              <p class="post_head">Round and round like a carousel</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- footer bottom -->
         <div class="footer_bottom">
            <p>Developed by <strong>Shyam</strong></p>
         </div>
      </footer>
      <!-- end footer -->
      <!--=========== js section ===========-->
      <!-- jQuery (necessary for Bootstrap's JavaScript) -->
      <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
      <!-- wow animation -->
      <script src="{{url_for('static',filename='js/wow.js')}}"></script>
      <!-- custom js -->
      <script src="{{url_for('static',filename='js/custom.js')}}"></script>
      <!-- google map js -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
      <!-- end google map js -->
   </body>
</html>