<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        .main_form{
            display: flex;
            box-sizing: border-box;
            height: 100vh;
            width: 100vw;
            align-items: center;
            justify-content: center;
        }

    </style>
</head>
<body>
    <div class="main_form">
        <form action="/" method="post">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="surname" placeholder="Surname">
            <input type="submit" placeholder="Submit">
        </form>
    </div>
</body>
</html>