{%extends 'basetemplate.html'%}
{%block title%}SignUp{%endblock%}
{%block body%}


    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, mssg in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                <span>{{mssg}}</span>
                <button type="button" class="close" data-dismiss="alert" area-label="Close">
                    <span area-hidden="true">&times;</span>
                </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


<div class="container ">
    <form action="/signup" method="POST" class="d-flex flex-column w-50 min-vh-100 m-auto  justify-content-md-center">
        <h1>Create Account</h1>
        <div>
            <input type="text" name="fname" placeholder="First Name" required>
            <input type="text" name="lname" placeholder="Last Name" required>
        </div>
        <input type="email" name="email" placeholder="Email Address" class="my-2" required>
        <input type="password" name="password" placeholder="Password" class="my-2" required>
        <input type="password" name="cpassword" placeholder="Confirm Password" class="my-2" required>
        <button type="submit" class="btn btn-success my-2">SignUp</button>
        <button type="button" style="background: none;border: none" data-toggle="modal" data-target="#LoginModal">
            <span>Already Have An Account?</span>
        </button>
    </form>
</div>

{%endblock%}