{%extends 'basetemplate.html'%}
{%block title%}Change Name{%endblock%}
{%block body%}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, messg in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                <span>{{messg}}</span>
                <button type="button" class="close" data-dismiss="alert" area-label="Close">
                  <span area-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
        {% endif %}
    {% endwith %}



    <div class="container ">
        <form action="/updateprofile" enctype="multipart/form-data" method="POST" class="d-flex flex-column w-50 min-vh-100 m-auto  justify-content-md-center">
            <h1>Update Profile</h1>
            {% for user in user_name %}
                <input type="text" name="fname" class="my-2" required value="{{user.fname}}">
                <input type="text" name="lname" class="my-2" required value="{{user.lname}}">
                <input type="file" name="dpimg" class="my-2">
            {% endfor %}
            <button type="submit" class="btn btn-primary my-2">Update</button>
        </form>
    </div>

{%endblock%}