<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    
    {% for post in poststring %}
    <h1>
      <p style="display: inline-block;">{{post.serial}}. </p>
      <p style="display: inline-block;">{{post.slug}}</p>
    </h1>
    <div style="color:darkmagenta;font-size: 20px;">
      <p>{{post.title}}</p>
      <p>{{post.content}}</p>
      <p>{{post.date}}</p>
    </div>
    {% endfor %}
  </div>
</body>

</html>