<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Detail Fetch</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        div{
            backgroung: rgb(250, 250, 250);
        }
        .nav_bar{
            display:flex;
        }
    </style>
</head>
<body>
    <div class="nav_bar">
        <h1>All Details Here!</h1>
        <h1><a href="/">Home</a></h1>
    </div>

    <div>
        {% for detail in details %}
            <h3>{{detail.serial}}. {{detail.email}} = {{detail.password}}</h3>
        {% endfor %}
    </div>
</body>
</html>