<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website 16</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        input, button{
            width: 400px;
            margin: 10px;
            height: 30px;
        }
        div{
            display: flex;
        }
    </style>
</head>
<body>

    <div>
        <h1>Login Here</h1>
        <h1><a href="/">Home</a></h1>
        <h1><a href="/all">All Details</a></h1>
    </div>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="Email ID">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Submit</button>
    </form>

</body>
</html>